*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color:#003459;
$background-color: #FDFDFD;
$box-shadow:0px 2.39391px 16.7574px -1.19696px rgba(0, 0, 0, 0.08);
$button-BorderRadius: 34.1132px;
$font: 'SVN-Gilroy';
$text-btn-color: #FDFDFD;

.PopUp{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #e9e9e9da;
}
.AdoptBtn{
    font-family:$font;
    width: 147.55px;
    height: 43.36px;
    background-color: $primary-color;
    border-radius: $button-BorderRadius;
    color: $text-btn-color;
    font-family: 'SVN-Gilroy';
    border: none;
}
.Adopt{
    font-family: $font;
   width: 97.55px;
   height: 29.36px;
   background-color: $primary-color;
   border-radius: $button-BorderRadius;
   color: $text-btn-color;
  font-family: 'SVN-Gilroy';
   border: none;
}
input{
    width: 250px;
    height: 40px;
    text-align: center;
    border-radius: $button-BorderRadius;
    border: 1px solid rgb(237, 237, 237);
    box-shadow: $box-shadow;
}
.UserData{
    width: 400px;
    height: 500px;
    border-radius: $button-BorderRadius;
    position: absolute;
    top: 25%;
    right: 36%;
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px ;
    border: 1px solid black;

}
.ClosePopup{
   width: 97.55px;
   height: 29.36px;
  border-radius: $button-BorderRadius;
  border: 1.23px $primary-color;
   color: $primary-color ;
    margin-right: 10px;
    border: 1px solid black;
}
.buttons{
    margin-top: 70px;
}
.Deletebtn{
    font-family:$font;
    width: 147.55px;
    height: 43.36px;
    background-color: $primary-color;
    border-radius: $button-BorderRadius;
    color: $text-btn-color;
    font-family: 'SVN-Gilroy';
    border: none;
}